<html>
<head>
  <title>all posts</title>
  <h2>All Posts</h2>


  <% if current_user == nil %>
      <%= form_tag '/users/sign_in' do %>
          <button type="submit" >Log In</button>
      <% end %>
  <% end %>
  <% if current_user != nil %>
      <%= form_tag '/users/show_favs', method: :get do %>
          <button type="submit" >Favorites</button>
      <% end %>
  <% end %>

  <a href="/posts/new">Create a Post</a>
  <table>
    <head>
      <tr>
        <th>Post</th>
        <th>Description</th>
      </tr>
    </head>
    <tbody>
    <% @posts.each do |post| %>
        <tr>

          <td>
            <a href="/posts/<%= post.id %>"> <%= post.title %> </a>
          </td>

          <td><%= post.body %> </td>

        </tr>
    <% end %>
    </tbody>
  </table>


  <% if current_user != nil %>
      <%= form_tag '/users/sign_out', method: :delete do %>
          <button type="submit" >Log Out</button>
      <% end %>
  <% end %>
</head>
</html>