<html>
<head>
  <body>
    <h2 class="header">All Posts</h2>

    <div class="nav">
      <% if current_user == nil %>
        <%= form_tag '/users/sign_in' do %>
          <button class="nav-btn" type="submit" >Log In</button>
        <% end %>
      <% end %>
      <% if current_user != nil %>
        <%= form_tag '/users/sign_out', method: :delete do %>
          <button class="nav-btn" type="submit" >Log Out</button>
        <% end %>
      <% end %>
      <% if current_user != nil %>
        <%= form_tag '/users/show_favs', method: :get do %>
          <button class="nav-btn" type="submit" >Favorites</button>
        <% end %>
      <% end %>
    </div>

    <a class="create-link" href="/posts/new">Create a Post</a>

    <table>
      <div class="header-row">
        <th><h3>Post</h3></th>
        <th><h3>Description</h3></th>
      </div>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tbody>

        <% @posts.each do |post| %>
          <tr class="table-row">
            <td> <a class="post-title" href="/posts/<%= post.id %>"> <%= post.title %> </a> </td>
            <td><%= post.body %> </td>
          </tr>
          <tr>
            <td><hr></td>
            <td><hr></td>
          </tr>
        <% end %>
        <%= will_paginate @posts %>
      </tbody>
    </table>

  </body>
</head>
</html>