<html>
<head>
  <title>
  </title>
<body>
<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<a href="/posts/edit/<%= @post.id %>">Edit Post</a>
<p>Post created by: <%=User.find(@post.user_id).email %></p>


  <h4>Comments</h4>
  <ul>
      <%= if @comments != nil %>
        <%= @comments.each do |comment| %>

            <li <%= comment.body%> </li>
              <p> by: <%=comment.user.email%> </p>

        <% end %>
      <% end %>
  </ul>

  meanwhile, <a href="/">back home...</a>

</body>
</head>
</html>