<html>

  <head>
    <title> Posts </title>
    <script src="/Users/jblack/RubyMineProjects/bloggy/app/assets/javascripts/application.js"></script>
  </head>

  <body>

    <h1><%= @post.title %></h1>

    <p><%= @post.body %></p>

    <a href="/posts/edit/<%= @post.id %>">Edit Post</a>
    <p>Post created by: <%=User.find(@post.user_id).email   %></p>


    <h4>- Comments -</h4>

    <% if @comments.count == 0 %>
      <p> be the first to comment! </p>
    <% end %>

    <ul>
     <%= @comments.each do |comment| %>
      <li <%= comment.body%> <p> by: <%=comment.user.email%> </p>  </li>
     <% end %>
    </ul>

    <button id="comment-button">Create Comment</button>

    <%= form_tag '/comments' do %>
      <p>Body</p>
      <input type="text" id="comment-form" placeholder="body..." name="body">
      <input type="hidden" name="user" value="<%= current_user.id %>">
      <button>Create Comment</button>
  <% end %>

    meanwhile, <a href="/">back home...</a>

  </body>

</html>