<html>

  <head>
    <title> Posts </title>
  </head>

  <body>
    <div class="top-header">
      <h1><%= @post.title %></h1>
      <% if current_user.has_favorited?(@post) %>
        <%= form_tag "/posts/#{@post.id}/favorites", method: :delete do %>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
         <!--<button> unfavorite </button>-->
              <button id="favorite" class="star-button"><%= image_tag('star-1.svg', size: '30x30', :class => 'star')%></button>
        <% end %>
      <% else %>
        <%= form_tag "/posts/#{@post.id}/favorites" do %>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <!--<button> favorite </button>-->
         <button id="favorite" class="star-button"> <%= image_tag('star.svg', size: '30x30', :class => 'star')%> </button>
        <% end %>
      <% end %>
    </div>

    <p><%= @post.body %></p>

    <% if current_user.id == @post.user_id %>
      <a href="/posts/edit/<%= @post.id %>">Edit Post</a>
    <% end %>

    <p>Post created by: <%=@post.user.email %></p>

    <hr>

    <h4>- Comments -</h4>

    <% if @comments.count == 0 %>
      <p> be the first to comment! </p>
    <% end %>

    <ul>
     <% @comments.each do |comment| %>
      <li>  <p> by: <%=comment.user.email%> </p>  </li>
          <p><%= comment.body %></p>
     <% end %>
    </ul>

    <%= form_tag '/comments', method: :post do %>
      <input class="text-input" type="textar" id="comment-form" placeholder="body..." name="body">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      <input type="hidden" name="post_id" value="<%= @post.id %>">
      <button class="create-btn">Create Comment</button>
    <% end %>
    <hr>
    <p class="footer-p"> meanwhile, <a href="/">back home...</a> </p>

  </body>

</html>