<html>

  <head>
    <title> Posts </title>
  </head>

  <body>

    <h1><%= @post.title %></h1>

    <p><%= @post.body %></p>

    <a href="/posts/edit/<%= @post.id %>">Edit Post</a>
    <p>Post created by: <%=User.find(@post.user_id).email   %></p>


    <h4>- Comments -</h4>

    <% if @comments.count == 0 %>
      <p> be the first to comment! </p>
    <% end %>

    <a href="/comments/new">Create Comment</a>

    <ul>
     <%= @comments.each do |comment| %>
      <li <%= comment.body%> <p> by: <%=comment.user.email%> </p>  </li>
     <% end %>
    </ul>
git
    meanwhile, <a href="/">back home...</a>

  </body>

</html>