<!DOCTYPE html>
<html>
<head>
  <title>Bloggy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <% if current_user == nil %>
      <%= form_tag '/users/sign_in' do %>
          <button class="nav-btn" type="submit" >Log In</button>
      <% end %>
  <% end %>
  <% if current_user != nil %>
      <%= form_tag '/users/sign_out', method: :delete do %>
          <button class="nav-btn" type="submit" >Log Out</button>
      <% end %>
  <% end %>
  <% if current_user != nil %>
      <%= form_tag '/users/show_favs', method: :get do %>
          <button class="nav-btn" type="submit" >Favorites</button>
      <% end %>
  <% end %>
</div>

<%= yield %>

<% if Rails.env.development? %>
    <p> <%=controller_name%>#<%= action_name %> </p>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
